/*
#1E1E1E - Main BG (Dark)
#333333 - Card BG (Dark Gray)
#EBEBEB - Main White
#61afd7 - Blue Accent
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background-color: #1E1E1E;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #1E1E1E;
    color: #EBEBEB;
}

h1,
h2,
h3,
p {
    margin: 0;
    max-width: 70ch;
    word-wrap: break-word;
}

.outlet-container {
    width: 90%;
    max-width: 1200px;
    margin: 1.5em auto;
    padding: 1em;
}

.btn {
    cursor: pointer;
    border: none;
    background: #61afd7;
    border-radius: 100vw;
    padding: .5em 1em;
    line-height: 100%;
    color: #1E1E1E;
}

.btn:hover {
    color: #EBEBEB;
}

.cta {
    padding: .75em 1.5em;
    font-size: 1.4rem;
    text-decoration: none;  
}

.btn a {
    color: #EBEBEB;
    text-decoration: none;
}



