/*
#1E1E1E - Main BG (Dark)
#333333 - Card BG (Dark Gray)
#EBEBEB - Main White
#A30000 - Red Accent
*/

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    place-items: center;
}

.card {
    max-width: 18rem;
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(#61afd7 , #1E1E1E) 1;
    background-image: linear-gradient(#333333, #1E1E1E);
}

.player-img {
    border-radius: .5rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.player-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.warcraftlogs-logo {
    height: 24px;
    width: 24px;
}

.player-name {
    font-weight: bold;
    margin: .75rem 0;
}

.player-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .85rem;
}

.card-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;

}

/* decrease gaps between cards  */
@media (max-width: 1200px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        place-items: center;
    }
}

/* break down to 2 columns */
@media (max-width: 1000px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        place-items: center;
    }
}

/* change to flex */
@media (max-width: 720px) {
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
