/*
#1E1E1E - Main BG (Dark)
#333333 - Card BG (Dark Gray)
#EBEBEB - Main White
#61afd7 - Blue Accent
*/

.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;  
}

.banner {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.lead-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

#lich-king {
    color: #61afd7;
}

.home-image {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
.subheading {
    color: #61afd7;
    margin: 1rem auto;
    font-size: 2.5rem;
    line-height: 100%;
}

.copy-list {
    list-style: none;
    margin: 1.5rem auto;
    padding: 0;
}


.copy-list > :not(:last-child) {
    margin-bottom: 1.75rem;
}

.schedule {
    margin: 1rem auto;
}

.cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem;
}

.subheading-copy {
    max-width: 55ch;
    font-size: 1.25rem;
    line-height: 140%;
}

@media (max-width: 1200px) {
    .banner {
        display: none;
    }

    .lead-text {
        margin: 1rem auto;
        text-align: center;
        max-width: 24ch;
    }

    .home-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .subheading-copy {
        font-size: 1rem;
        
    }

    .copy-list {
        text-align: center;
        
    }

    .home-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 375px) {
    .subheading {
        font-size: 1.75rem;
    }
}


