/*
#1E1E1E - Main BG (Dark)
#333333 - Card BG (Dark Gray)
#EBEBEB - Main White
#A30000 - Red Accent
*/

header {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
}

.logo {
    max-width: 100%;
}

nav {
    display: flex;
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right,#61afd7 , #1E1E1E) 1;
    
}

.navlink, .navlink:visited {
    color: #EBEBEB;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
}

.navlink:hover {
    color: #61afd7;
}

@media (max-width: 1200px) {
    .logo {
        margin: 1rem auto;
    }

    header {
        text-align: center;
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        font-size: .85rem;
        margin-top: .5rem;
        border-image: linear-gradient(#61afd7 , #1E1E1E) 1;
    }
}







